body{
    font-family:'Poppins',sans-serif;
    margin:40px;
    line-height:1.6
}
h1{
    text-align:center;
    text-shadow:1px 1px 2px #aaa
}
mark{
    background:#ff0;
    color:#000
}
strong{
    color:#f00
}
em{
    color:#007bff
}
p::first-letter{
    font-size:2em;
    font-weight:bold
}
p::first-line{
    text-transform:uppercase
}